body{

margin:0;
font-family:sans-serif;
background:url("chatw.png") center/cover no-repeat fixed;
height:100vh;

}

.chat-container{

display:flex;
flex-direction:column;
height:100vh;

}

.topbar{

background:#111;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;

}

.messages{

flex:1;
overflow-y:auto;
padding:10px;

}

.message{

background:white;
padding:10px;
margin:6px;
border-radius:12px;
max-width:70%;
position:relative;

transition:0.3s;

}

.message.me{

margin-left:auto;
background:#dcf8c6;

}

.reactions{

font-size:14px;
margin-top:4px;

}

.inputBar{

display:flex;
padding:8px;
background:#eee;
gap:5px;

}

.inputBar input{

flex:1;
padding:10px;
border-radius:20px;
border:none;

}

.reply{

background:#ddd;
padding:6px;
font-size:12px;

}

.hidden{

display:none;

}

.popup{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:flex;
justify-content:center;
align-items:center;

}

.popup-box{

background:white;
padding:20px;
border-radius:10px;
width:80%;
max-width:300px;

}

.pollBtn{

position:fixed;
bottom:80px;
right:20px;
background:#ff3d3d;
color:white;
border:none;
border-radius:50%;
width:60px;
height:60px;
font-size:25px;

}

.typing{

font-size:12px;
padding-left:10px;
color:#333;

}
