body{
margin:0;
font-family:'Poppins',sans-serif;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#6a5cff,#9b8cff,#c7beff);
}

.card{
width:340px;
padding:40px;
border-radius:25px;
background:rgba(255,255,255,0.25);
backdrop-filter:blur(15px);
box-shadow:0 15px 40px rgba(0,0,0,0.2);
text-align:center;
color:white;
}

button{
width:100%;
margin-top:20px;
padding:13px;
border:none;
border-radius:14px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.register{
background:white;
color:#6a5cff;
}

.login{
background:#6a5cff;
color:white;
}

button:hover{
transform:scale(1.05);
}
