.students-panel {
  width: 220px;
  background: #ffffff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.students-panel li {
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.students-panel li:hover {
  background: #EEF2F8;
}
